<form action ="/posts/<%= @post.id %>" method ="POST">
<input name="_method" id="hidden" type= "hidden" value="PATCH">
<label for= "title">Title</label>
<input id= "title" type="text" name = "title" value= "<%=@post.title%>"> 

<label for= "picture">Picture</label> 
<input id= "picture" type="text" name = "picture" value= "<%=@post.picture%>"> 

<label for ="description">Description </label>
<textarea id= "description"  name = "description" value="<%=@post.description%>"><%=@post.description%></textarea>

<button>Edit</button>
</form>