
<h4 class="text-center "><a href ="/user/<%= @post.user.id %>"><%=@post.user.email%></a> </h4> 
 <%if session[:user_id] != @post.user.id %>
      <%if @user && !@user.followings.include?(@post.user)%>
  <form class="d-flex justify-content-center"  action="/follow/<%=@post.user.id%>" method="POST"><button class ="btn btn-sm btn-outline-dark" type="submit">follow</button></form>
<%end%>
<%end%>
<div class="card mx-auto" style="width: 35rem;">
  <img class="card-img-top" src="<%=@post.picture%>" alt="picture" height="550" width="100">
  <div> 
      <% if  @user && @post.likers.include?(@user) %> 
      
        <form class = "float-right" action= "/posts/<%=@post.id%>/like" method = "POST">
              <input type= "hidden" name="_method" value="DELETE" id="hidden">
              <button class="btn btn-sm btn-danger"><%=@post.likes.size%>,<i class="fa fa-heart"></i></button>
         </form> 
        <% else %> 
            <form class = "float-right" action= "/posts/<%=@post.id%>/like" method = "POST">
              <button class="btn btn-sm btn-outline-danger"><%=@post.likes.size%>,<i class="fa fa-heart"></i></button>
         </form> 
        <% end %> 
      </div>
  <div class="card-body">
    <h5 class="card-title"><%=@post.title%> </h5>
    <p class="card-text"><%= @post.description %></p>
   <% if @post.user.id == session[:user_id ]%>
    <a href= "/posts/<%=@post.id%>/edit" class ="btn btn-warning">Edit</a>
    <form action="/posts/<%=@post.id %>" method = "POST" class = "float-right"> 
        <input type= "hidden" id= "hidden" name= "_method" value = "DELETE">
        <button class= "btn btn-danger">DELETE </button>
    </form> 
    <%end%> 
    <br>
    <br>
   <p>By: <%= @post.user.email %></p>
    <small>Created at:<%= @post.created_at %> </small>


 
  </div>
</div>
    <div class="card mx-auto" style="width:35rem;">
  <div class="card-header">
    Comment Section
  </div>
  <ul class="list-group list-group-flush"> 
   <li class="list-group-item">
          <form action="/posts/<%=@post.id%>/comments" method= "POST">
        <label for= "comment">Write a Comment</label>
        <input type= "text" id="comment" name= "comment[content]">
        <button class = "btn-sm btn btn-success">Add comment</button>
    </form>

    </li>
  <%@post.comments.each do |comment|%> 
    <li class="list-group-item">
   
   <h6> <%= comment.content  %> </h6>
 <small> By:  <%= comment.user.email %> </small>
    <br>
  <small> Commented At: <%= comment.created_at%> </small> 
        <% if comment.user.id == session[:user_id]%>  
    <form action="/posts/<%=@post.id%>/comments/<%=comment.id%>" method = "POST"> 
        <input type= "hidden" id= "hidden" name= "_method" value = "DELETE">
        <button class="btn btn-sm btn-danger">DELETE </button>
    </form>
    <% end %>
    <br> <br> 
    <% end %>
    </li>
   
  
  </ul>
</div>



   
     
        



  

