<h1>This is the Profile page<h1> 
<h2>You are signed in as: <%=@user.email%> </h2>
<a href= '/user/logout'>Log Out</a> 

<%@user.posts.each do |post|%>

    <%=post.title%>
    <br>
    <img src="<%=post.picture%>" alt="picture" height="100" width="100"> 
    <br>
    <%=post.description%>
    <br>
    
    <a href= "/posts/<%=post.id%>/edit">Edit</a>
     <a href= "/posts/<%=post.id%>">Show</a>
    <a href="#">Delete</a>
   <br>
   <br>
<% end %>